/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#about {
    padding: 2em;
    background-color: #f7f7f7;
}

#skills {
    padding: 2em;
    background-color: #fff;
}

#projects {
    padding: 2em;
    background-color: #f7f7f7;
}

.project {
    margin-bottom: 2em;
}

#resume {
    padding: 2em;
    background-color: #fff;
}

#contact {
    padding: 2em;
    background-color: #f7f7f7;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}